<h1>{{ (org | async)?.name }}</h1>

<div class="full-map">
  <ngui-map [options]="mapOptions">
    <drawing-manager id="draw"
                     [drawingMode]="'marker'"
                     [drawingControl]="true"
                     [drawingControlOptions]="{
          position: 2,
          drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
         }"
                     [circleOptions]="{
          fillColor: '#ffff00',
          fillOpacity: 1,
          strokeWeight: 5,
          editable: true,
          zIndex: 1
        }"></drawing-manager>
  </ngui-map>
</div>

