
.add-member {
  background-color: #0091ea;
}

.members {
  margin-bottom: 1em;
  background-color: #a7c0cd;
}

.member {
  margin-bottom: 1em;
}

.secondary {
  background-color: #a7c0cd;
}

mat-card-footer {
  margin-bottom: .5em;
}

.prof-img {
  border-radius: 100%;
  margin-right: 1em;
  height:40px;
  width:40px;
  float:left;
}

.main-card {
  background-color: #0091ea;
}

.incidents {
  text-align: left;
}

.icon-space {
  /*font-size: 26px;*/
  /*margin: 0 3.75em 0 0;*/
}

.content {
  background-color: #a7c0cd;
}

mat-card-title {
  font-size: 20px;
}

.space {
  margin-right: 1em;
}

@media (max-width: 500px) {
  .pull-right.bottom-pad {
    bottom: 14px !important;
  }
}
