<div class="col-xs-12 col-sm-12 col-md-5 space">

  <div class="row">
    <mat-card class="add-member col-xs-12">
      <mat-card-title>
        {{(org | async)?.name}}
      </mat-card-title>
    </mat-card>
    <mat-card class="content col-xs-12">
      {{(auth.user | async)?.displayName}}
    </mat-card>
  </div>

  <div class="row">
    <mat-expansion-panel class="secondary">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Members
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let user of users | async" class="member col-xs-12">
        <img class="prof-img" [src]="user.data.photoURL">
        {{ user.data.displayName }} {{user.data.email}}
      </mat-card>

      <div class="row"></div>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header class="pan-pad">
          <mat-panel-title>
            <mat-icon class="icon-space" aria-label="Add Team Member">add_circle</mat-icon>
            Add Member
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field class="col-xs-6">
            <input matInput placeholder="New Member Email" [(ngModel)]="newMemberEmail">
          </mat-form-field>
          <div class="col-xs-3 col-sm-3 col-md-6">
            <button mat-icon-button (click)="addMember()">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-expansion-panel>
  </div>

  <div class="row">
    <mat-expansion-panel class="secondary">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Teams
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="member col-xs-12" *ngFor="let team of teams; let i = index;">
        <p>
          {{team.name}}
        </p>
      </mat-card>

    </mat-expansion-panel>
  </div>

  <div class="row">
    <mat-expansion-panel class="secondary">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Custom Drop-pins
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="member col-xs-12" *ngFor="let team of teams; let i = index;">
        <mat-card-title>
          Team: {{team.name}}
        </mat-card-title>
        <div *ngFor="let pintext of team.premadePins">
          <p>
            {{pintext}}
          </p>
        </div>

        <mat-form-field class="col-xs-6">
          <input matInput placeholder="Description" [(ngModel)]="newPin">
        </mat-form-field>
        <div class="col-xs-6">
          <button mat-icon-button (click)="addPin(newPin, i); newPin=''; addPinIndex = -1;">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-5">
  <div class="row">
    <mat-card class="add-member col-xs-12">
      <mat-card-title>
        Current Incidents
      </mat-card-title>
    </mat-card>
    <div *ngIf="incidents | async ; let items">
      <mat-card class="content member col-xs-12">
        <button class="incidents row col-xs-12" mat-button *ngFor="let item of items"
                [routerLink]="['/incident', item.payload.key]">
          <mat-icon>open_in_new</mat-icon>
          {{ item.payload.val().name }}
        </button>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <mat-expansion-panel class="secondary" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add New Incident
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="newIncident">
        </mat-form-field>
        <button mat-button class="pull-right bottom-pad" (click)="addIncident(newIncident)">Add</button>
      </mat-card>
    </mat-expansion-panel>
  </div>

</div>


<!--<div>-->
<!--<h3>Add New Team</h3>-->
<!--<input type="text" [(ngModel)]="newTeamName">-->
<!--<button (click)="addTeam(newTeamName)">add new team</button>-->
<!--</div>-->



