mat-sidenav-container {
  background-color: #eee;
  margin: 0;
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

mat-sidenav {
  width: 200px;
}

.site-content {
  margin: 0 0 0 4em !important;
  padding: 0;
}

.sidenav-projects.mat-icon-button {
  margin: 0 0 0 30px;
}

.sidenav-profile.mat-icon-button {
  margin: 0 0 0 43px
}

.mat-drawer.mat-drawer-push {
  background-color: #455a64;
}

.mat-list-item {
  color: #ffffff;
}

.mat-nav-list {

}

.nav-prof-img {
  margin-bottom: .5em;
  border-radius: 100%;
  width: 40%;
}

.user {
  background-color: #1c313a;
  padding-bottom: 5px;
}

.user-name {
}

.user-email {
  font-weight: 100;
}

.nav-icon {
  margin-right: 1em;
}

.sticky-footer {
  background-color: #1c313a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

/* The element to apply the animation to */
.menu {
  right: 65px;
}

.menu-icon {
  color: black;
}
