mat-sidenav-container {
  background-color: #eee;
  margin: 0;
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

mat-sidenav {
  width: 200px;
}

.site-content {
  margin: 0 0 0 4em !important;
  padding: 0;
}

.sidenav-projects.mat-icon-button {
  margin: 0 0 0 30px;
}

.sidenav-profile.mat-icon-button {
  margin: 0 0 0 43px
}

.mat-drawer.mat-drawer-push {
  background-color: #455a64;
}

.mat-list-item {
  color: #ffffff;
}

.mat-nav-list {

}
