.ngui-map {
  height: 80vh;
  width: 80vw;
}
.custom-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:blue;
  border: 2px solid white;
  color:white;
  font-size:10px;
  text-align:center;
}

.custom-icon1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:yellow;
  border: 2px solid white;
  color:white;
  font-size:10px;
  text-align:center;
}

.custom-icon2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:red;
  border: 2px solid white;
  color:white;
  font-size:10px;
  text-align:center;
}

.custom-icon3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:darkgreen;
  border: 2px solid white;
  color:white;
  font-size:10px;
  text-align:center;
}
